<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet">
    <title>Contacts</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center py-3">Contacts</h1>
        <div class="text-left py-3">
            <div id="contact" class="col-md-12 user-form">
                <form id="categories-form" name="contact-form" action="http://127.0.0.1:3000/users" class="row g-3">
                    <div class="col-md-6">
                        <label for="password" class="form-label">ID</label>
                        <input type="number" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="col-md-6">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-md-6">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control" id="position" name="position" required>
                    </div>
                    <div class="col-md-6">
                        <label for="channel" class="form-label">Channel</label>
                        <input type="text" class="form-control" id="channel" name="channel" required>
                    </div>
                    <div class="col-md-6">
                        <label for="interest" class="form-label">Interest</label>
                        <select class="form-select" id="role" name="role" required>
                          <option selected disabled value="">Choose...</option>
                          <option value="whatsApp">WhatsApp</option>
                          <option value="facebook">FaceBook</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="companies_id" class="form-label">Company ID</label>
                        <input type="number" class="form-control" id="companies_id" name="companies_id" required>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="is_active" name="is_active" required>
                            <label class="form-check-label" for="is_active">
                      Is Active
                    </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button id="saveUserButton" class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="js/scripts.js"></script>
</body>

</html>